.mainContainer {
    z-index: 1;
    color: #b9b9b9;
    height: 100%;
    min-height: 100vh;
    flex-grow: 1;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(.5rem);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/**********BANNER SECTION************/
.banner {
    height: 30rem;
    position: relative;
}

.bannerImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100);
}

.bannerTopLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(#000, transparent);
}

.bannerBottomLayer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background: linear-gradient(transparent, #000);
}

.bannerContent {
    padding: 2rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.bannerContent .top {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    letter-spacing: .15rem;
}

.bannerContent .top i, .bannerContent .top span {
    color: #fafafa;
}

.bannerContent .top i {
    font-size: 2rem;
}

.bannerContent .top i:hover {
    transform: scale(150%);
}

.bannerContent .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerContent .bottom .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.bannerContent .bottom .left .artist {
    display: flex;
    align-items: flex-start;
}

.bannerContent .bottom .left .artistNumbers, .artistName {
    color: #fff;
}

.verified {
    color: rgb(0, 160, 209);
}

.bannerContent button {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.bannerContent button:hover {
    transform: scale(90%);
}

.playBtn {
    margin-right: .2rem;
    background-color: rgba(0, 209, 17, 0.7);
}

.followBtn {
    background-color: rgba(0, 160, 209, 0.7);
}





/**********NAVIGATION SECTION************/
.navigationContainer {
    width: 100%;
    color: #848484;
    font-size: 1.3rem !important;
    background: rgba(34, 34, 34, 0.6);
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationContainer ul {
    list-style: none;
}

.navigationContainer ul li {
    display: inline-block;
    margin-right: 3rem;
    cursor: pointer;
    position: relative;
}

.navigationContainer ul li a {
    color: #848484;
    text-decoration: none;
    font-weight: bold;
}

.navigationContainer ul li a:hover {
    color: #fafafa;
}

.navigationContainer ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 100%;
    height: .3rem;
    background-color: #fafafa;
}

.navigationContainer div {
    color: #b9b9b9;
}





/**********AUDIO SECTION************/
.audioMenu {
    width: 100%;
    padding: 1rem 1.5rem;
    z-index: 3;
}

.audioMenu .title {
    font-weight: bold;
    color: #fafafa;
}

.audioMenu .title span {
    font-weight: normal;
    color: #848484;
}

.songsContainer {
    margin-top: 1rem;
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

.songs {
    width: 100%;
}

.song {
    margin: 1rem 0;
    padding: .3rem 0;
    border-bottom: #848484 .1rem solid;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    position: relative;
    scroll-behavior: smooth;
    cursor: pointer;
}

.song:hover {
    color: #fafafa;
}

.songArtist {
    justify-self: center;
    margin: 0 auto;
}

.songHits {
    justify-self: flex-end !important;
}

.songTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.songTitle .songImage {
    height: 5rem;
    width: 5rem;
    margin: 0 1rem;
    border-radius: .5rem;
}

.songHits span {
    margin-right: 3rem;
}

.songHits span:nth-of-type(3) {
    color: rgba(247, 0, 95, 0.8);
    filter: drop-shadow(0px 0px 3px rgba(247, 0, 95, 0.8));
    margin-right: 0;
    cursor: pointer;
}

.songHits span:nth-of-type(3):hover {
    transform: scale(150%) !important;
}

.active {
    color: #fafafa;
}





/**********MUSIC PLAYER************/

.musicPlayer {
    padding: 1.7rem;
    min-height: 15vh;
    width: 100%;
    background: rgba(34, 34, 34, 0.3);
    backdrop-filter: blur(.3rem);
    display: flex;
}

.musicImage {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4) !important;
}

.musicImage img {
    width: 9rem;
    height: 8rem;
    border-radius: .5rem;
    overflow: hidden;
}

.musicControls {
    width: 100%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.musicControls i {
    cursor: pointer;
}

.musicControls .top, .musicControls .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.musicControls .top i {
    margin: 0px .5rem;
}

.musicControls .top .left i:nth-of-type(1) {
    color: rgba(247, 0, 95, 0.8);
    filter: drop-shadow(0px 0px 3px rgba(247, 0, 95, 0.8));
}

.musicControls .top .middle i {
    margin: 0px 2rem;
}


.musicControls .top .middle .playPause {
    background-color: #fafafa;
    color: #848484;
    padding: .3rem .5rem;
    padding-top: .7rem;
    padding-left: .6rem;
    border-radius: 50%;
}

.musicControls .bottom input {
    width: 80%;
    position: relative;
    height: .5rem;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

/* Chrome & Safari */
.musicControls .bottom input:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #848484;
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    transition: all 0.3s ease;
    z-index: 2;
}

.musicControls .bottom input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
}

/* firefox */
.musicControls .bottom input::-moz-range-track {
    width: 80%;
    height: .5rem;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.musicControls .bottom input::-moz-range-progress {
    background: #848484;
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    transition: all 0.3s ease;
    z-index: 2;
}

.musicControls .bottom input::-moz-range-thumb {
    -moz-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
}

.currentTime,
.duration {
    color: #fafafa;
    font-size: 1.8rem;
    font-weight: bold;
}